.Register {
  text-align: center;
}

.RegisterContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Support {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Link {
  text-decoration: none;
  color: #4c4cff;
  margin-left: .5em;
}
