.OrderFeed {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  gap: 16px;
  height: 68vh;
  overflow-y: scroll;
}

.OrderFeedLink {
  list-style-type: none;
  text-decoration: none;
  color: #F2F2F3;
  transition: all 0.3s;
}

.OrderFeedLink:hover {
  opacity: 0.8;
  transition: all 0.3s;
}
