.BurgerIngredientsItem {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 262px;
    height: 200px;
    cursor: pointer;
}

.BurgerImage {
    width: 240px;
    height: 120px;
}

.Price {
    display: flex;
    justify-content: center;
    align-items: center;
}